.site-header {
  background-color: transparent;
  padding: 2rem 0;
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}

.site-header .container {
  max-width: 800px;
  margin: 0 auto;
}

.site-logo-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.site-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
  margin-top: 10px;
}

.logo {
  max-height: 200px;
  width: auto;
  margin: 0 auto;
  display: block;
}

.measure-wide{
  max-width: 1500px; /* default is usually ~720px */
  width: 90%;
  margin: 0 auto;
}

.mw8 {
  max-width: 100%;
}

article.bb {
  background-color: #d6d6d6;
  padding: 1rem;
}

.image-wrapper {
  max-width: 500px;
  margin: 2rem auto;
  padding: 0;
  text-align: center;
}

.image-wrapper-dashboard {
  max-width: 750px;
  margin: 2rem auto;
  padding: 0;
  text-align: center;
}

.rpi-flex {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.image-wrapper-rpi {
  max-width: 300px;
  flex-shrink: 0;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}